<a href="https://colab.research.google.com/github/iqraghori/Data-science/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
while(True):
  salary= int(input("enter your salary in lac 1,2,3..: "))
  salary*=100000
  print("Your annual Salary before Detection: ",salary)
  HRA = salary*0.1
  DA = salary*0.05
  PF = salary*0.03
  if(salary<500000):
    tax=0
  elif(salary>=500000 or salary<1000000):
    tax = salary*0.1
  elif(salary>=1000000 or salary<2000000):
    tax = salary*0.2
  else:
    tax = salary*0.3

  total_deduction= HRA+DA+PF+tax

  in_hand_annualSalary = salary-total_deduction
  print("tax",tax,"HRA: ",HRA, "DA: ",DA," PF: ",PF,"AnnualSalary: ",in_hand_annualSalary)

  in_hand_monthly=in_hand_annualSalary/12
  print('in hand monthly salary:', in_hand_monthly)

enter your salary in lac 1,2,3..: 5
Your annual Salary before Detection:  500000
tax 50000.0 HRA:  50000.0 DA:  25000.0  PF:  15000.0 AnnualSalary:  360000.0
in hand monthly salary: 30000.0
enter your salary in lac 1,2,3..: 4
Your annual Salary before Detection:  400000
tax 0 HRA:  40000.0 DA:  20000.0  PF:  12000.0 AnnualSalary:  328000.0
in hand monthly salary: 27333.333333333332
enter your salary in lac 1,2,3..:

ValueError: invalid literal for int() with base 10: ''

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
s1=int(input('enter side 01:'))
s2=int(input('enter side 02:'))
s3=int(input('enter side 03:'))

angles = [s1,s2,s3]
sum = s1+s2+s3
if 0 not in angles and sum == 180:
  print("yeah its a triangle")

enter side 01:45
enter side 02:43
enter side 03:10

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cp = int(input('enter cost price'))
sp= int(input("enter selling price"))
diff = sp-cp
if(diff > 0):
  print("profit")
else:
  print("loss")

enter cost price200
enter selling price190
loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
print("""
1. cm to ft
2. km to miles
3. USD to INR
4. exit""")

choice=int(input("enter your choice."))
number= float(input("enter your number"))
if(choice == 1):
  print(number/30.48)
elif(choice == 2):
  print(number/1.60934)
elif(choice == 3):
  print(number/280)
else:
  print("invalid choice")

1. cm to ft
2. km to miles
3. USD to INR
4. exit
enter your choice.1
enter your number100
3.2808398950131235

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
prev=0
curr=1
print(prev)
print(curr)
for i in range(0,10,1):

 # print("prev ",prev)

  #print("curr",curr)
  next=prev+curr
  #print("next",next)
  prev=curr
  curr=next
  print(next)

0
1
1
2
3
5
8
13
21
34
55
89

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
number=int(input("enter a number to find factorial: "))
factorial = 1
for i in range(number,1,-1):
  #print(i)
  factorial*=i
  #print(i)
print(factorial)

enter a number to find factorial: 7
7
7
6
6
5
5
4
4
3
3
2
2
5040


### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
#number = list(map(int,input("enter you number here to reverse without split")))
#OR
number = input("enter your number: ")
num_lst= [int(digit) for digit in number]

print("length: ",len(number))

print(number)
for i in range(len(number)-1,-1,-1):
  print(number[i],end="")

enter your number: 76542
length:  5
76542
24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`


```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
total = 0
while True:
  num = int(input("enter a number: "))
  if num==0:
    print(total)
    break
  else:
    total+=num

enter a number: 1
enter a number: 3
enter a number: 4
enter a number: 0
8

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
a= 2000
b=3200
for i in range(a,b+1):
  if i%7==0 and i%5!=0:
    print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
for i in range(1000,3000):
  if i%2 != 0:
    print(i,end",")

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [12]:
# Write code here
#import math
import math

x, y = 0, 0  # starting point

while True:
    move = input("Enter movement (or '!' to stop): ").strip().upper()
    if move == "!":
        break

    direction, steps = move.split()
    steps = int(steps)

    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

distance = math.sqrt(x**2 + y**2)
print(round(distance))

Enter movement (or '!' to stop): up 5
Enter movement (or '!' to stop): down 3
Enter movement (or '!' to stop): left 5
Enter movement (or '!' to stop): right 3
Enter movement (or '!' to stop): !
3

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [13]:
# Write code here
num=int(input("enter a number"))
for i in range(2,9):
  if(num == 1 or num==2):
    print("prime")
  elif num%2 == 0:
    print("not prime")
  else:

enter a number9

NameError: name 'prime' is not defined

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here